.about {
    height: auto;
    width: 100%;
    background-color: #0A180B;
    padding: 50px;
    color: #ffffff;
}

.about-item {
    padding-inline: 50px;
}

.about h1 {
    font-family: 'Piedra';
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.about-text {
    padding: 10px;
}

.about-text h2 {
    margin-top: 20px;
    color: hsla(0, 0%, 100%, 0.888);
    font-size: 30px;
    font-weight: 700;
}

.about-text h3 {
    font-size: 25px;
    font-style: normal;
    line-height: 35px;
    color: hsla(0, 0%, 100%, 0.888);
    text-align: justify;

}

.about-image img {
    padding: 10px;
    
}

@media (min-width: 576px) {
    .col-sm-12 {
        text-align: center;
        padding: 0;
    }
}