
.banner {
    position: relative;
    background-position: center;
    background-image: url(../images/banner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px;
    width: 100%;
}

.banner5 {
    justify-content: center;
    margin: 0;
}

.logo {
    margin: 0 auto;
}


/* .navbar {
    position: relative;
    font-size: 20px;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    font-weight: 800;
}

.nav-link:hover {
    color: lightgreen;
    font-weight: 800;
} */

/* .banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.banner-text h1 {
    font-family: 'Piedra';
    text-align: center;
    color: #ffffff;
    font-size: 80px;
    font-weight: 800;
}

.banner-text h2 {
    font-family: 'Piedra';
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-inline: 200px;
    /* width: 800px !important; */
    line-height: 35px;
    font-weight: 300;
}
@media (max-width: 576px) {
    .banner-text h2 {
        margin-top: -10px;
        font-size: 22px;
        padding: 10px;
    }
}
@media (max-width: 1024px) {
    .banner-text h2 {
        margin-top: -10px;
        font-size: 22px;
        padding: 10px;
    }
}